# Virtual environment
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite database & logs
*.db
*.sqlite3
alerts.log

# IDE and system files
.vscode/
.idea/
*.log

# OS files
.DS_Store
Thumbs.db
